<table class="footer">
  <tr>
    <td class="cell"><%= current_store&.name %></td>
  </tr>
  <tr>
    <td class="cell"><%= current_store&.phone %></td>
  </tr>
  <tr>
    <td class="cell"><%= current_store&.url %></td>
  </tr>
</table>
