<% unless taxon.nil? %>
  <div class="container">
    <div class="row category-deck">
      <% taxon&.children&.each do |child_taxon| %>
        <%= link_to seo_url(child_taxon), class: "col-12 col-lg-6 col-md-6" do%>
          <div class="category-card shadow m-1 mt-4 border">
            <% if child_taxon.icon&.attachment %>
              <div class="">
                <%= lazy_image(
                        src: generate_public_url(child_taxon.icon.attachment.variant(gravity: 'center', resize: '555x150^', extent: '555x150').processed),
                        alt: child_taxon.description || Spree.t('taxon_missing_alt'),
                        width: 555,
                        height: 150,
                        class: 'w-100'
                    ) %>
              </div>
            <% else %>
              <div class="">
                <%= lazy_image(
                        src: asset_path('noimage/category_banner_plp.jpg'),
                        alt: child_taxon.description || Spree.t('taxon_missing_alt'),
                        width: 555,
                        height: 150,
                        class: 'w-100'
                    ) %>
              </div>
            <% end %>
            <h5 class="card-title text-center mt-2"><%= child_taxon.name %></h5>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>